<template>
  <div class="volunteer">
    <div class="balk">
        <p>Contacten</p>
    </div>
    <ul>
        <li>
            <div class="pic gerard"></div>
            <div class="info">
                <div class="name">Gerard, 86</div>
                <div class="location">Woonzorgcentrum Sint-Jozef</div>
            </div>
        </li>
        <li>
            <div class="pic gerda"></div>
            <div class="info">
                <div class="name">Gerda, 94</div>
                <div class="location">Woonzorgcentrum Sint-Jozef</div>
            </div>
        </li>
    </ul>
  </div>
</template>

<script>
export default {
    name: 'VolunteerContacts'
}
</script>

<style lang="scss" scoped>
    .balk {
        width: 100%;
        height: 4rem;
        background-color: white;
        font-size: 1.2rem;
        line-height: 4rem;

        p {
            margin: 0 0 0 .8rem;
        }
    }

    .pic {
        width: 5rem;
        height: 5rem;
        border-radius: 5px;
        display: inline-block;

        &.gerard {
            background-image: url('../images/gerard.jpg');
            background-size: cover;
            background-position: center;
        }

        &.gerda {
            background-image: url('../images/gerda.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    .info {
        display: inline-block;
        vertical-align: top;
        margin-left: .5rem;

        .location {
            color: #757474;
        }
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0 0;
        padding: 0;

        li {
            padding: 1rem;
            background-color: #F8F8F8;
        }

        li:nth-child(odd) {
            background-color: #ffffff;
        }
    }
</style>
