<template>    
    <div>
        <router-view></router-view>
        <ul class="bottomnav">
            <li>
                <router-link to="/volunteer/active" href="" exact>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Actief</p>
                </router-link>
            </li>
            <li>
                <router-link to="/volunteer/contacts" href="" exact>
                    <i class="fa fa-address-book smaller" aria-hidden="true"></i>
                    <p>Contacten</p>
                </router-link>
            </li>
            <li>
                <router-link to="/volunteer/profile" href="" exact>
                    <i class="fa fa-user small" aria-hidden="true"></i>
                    <p>Profiel</p>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'VolunteerPage'
}
</script>

<style lang="scss">
  .bottomnav {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;

    li {
        margin-top: .3rem;
        display: inline-block;
        height: 100%;
        padding: 0 2rem;

        a {
            text-decoration: none;
            height: 100%;
            color: #707070;

            &.router-link-active {
                color: #83B6CF;
            }
        }

        .fa {
            font-size: 2.2rem;
            margin-bottom: .5rem;

            &.small {
                margin-top: .2rem;
                font-size: 2rem;
            }

            &.smaller {
                margin-top: .4rem;
                font-size: 1.8rem;
            }
        }

        p {
            margin: -.4rem 0 0 0;
        }
    }
  }
</style>