<template>
    <div>
        <div class="card" v-if="!notification">
            <div class="title">{{ title }}</div>
            <div class="description" @click="shownotification">{{ description }}</div>
            <div class="button" :style="{'background-color': color }" @click="toggle">{{ btn }}</div>
        </div>
        <div class="card notification" v-else>
            <div class="foto"></div>
            <div class="info">
                <div class="person">Gerard, 86</div>
                <div class="locatie">Bejaardetehuis Sint-Michiels</div>
                <div v-if="!map">
                    <div class="bio">
                        <p>
                            "Ik ben nog een jonge geest,
                            en vertel af en toe een mopje"
                        </p>
                    </div>
                    <div class="needs">
                        Favoriete activiteiten<br />
                        - Uno spelen<br />
                        - Naar de voetbal kijken<br />
                    </div>
                    <div class="button top" :style="{'background-color': green }" @click="togglemap">Ik wil helpen</div>
                    <div class="button" :style="{'background-color': '#fff', 'color': '#505050', 'border': '1px solid #505050' }" @click="later">Misschien later</div>
                </div>
                <div v-else>
                    <a target="_blank" href="https://www.google.be/maps/place/Sint-Jozef+woon-+en+zorgcentrum+Sint-Michiels+Brugge+VZW/@51.1824081,3.2226378,17z/data=!3m1!4b1!4m5!3m4!1s0x47c350f0d388ea79:0xa7bf192a1d80910a!8m2!3d51.1824081!4d3.2248265?hl=en" class="map"></a>
                    <div class="button" :style="{'background-color': green }" @click="finish">Afspraak afronden</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'VolunteerActive',
    data() {
        return {
            title: 'Je bent offline',
            description: 'Zet jezelf online om zorgverleners te laten weten dat je beschikbaar bent',
            btn: 'Ga online',
            green: '#7FC258',
            red: '#C25858',
            color: '#7FC258',
            online: false,
            notification: false,
            map: false
        }
    },
    methods: {
        toggle() {
            if(this.online) {
                this.online = false;
                this.color = this.green;
                this.title = "Je bent offline";
                this.btn = "Ga online";
                this.description = "Zet jezelf online om zorgverleners te laten weten dat je beschikbaar bent";
            } else {
                this.online = true;
                this.color = this.red;
                this.title = "Je bent online";
                this.btn = "Ga offline";
                this.description = "Momenteel ben je zichtbaar voor zorgverleners om te helpen";
            }
        },
        shownotification() {
            if(this.online) this.notification = true;
        },
        later() {
            this.notification = false;
        },
        togglemap() {
            this.map = true;
        },
        finish() {
            this.notification = false;
        }
    }
}
</script>

<style lang="scss" scoped>
    .card {
        position: relative;
        box-sizing: border-box;
        margin: 10rem auto 0 auto;
        padding: 2rem;
        display: block;
        width: 80%;
        border-radius: 2rem;
        height: 15rem;
        background-color: white;
        box-shadow: 0 1px 2px #888888;
    }

    .map {
        display: block;
        width: 100%;
        margin-top: 1rem;
        height: 15rem;
        border-radius: 1rem;
        background-image: url('../images/map.png');
        background-size: cover;
    }

    .notification {
        width: 90%;
        padding: 0;
        height: 40rem;
        margin: .75rem auto 0 auto;
        font-family: 'Nunito', 'Open Sans', sans-serif;

        .foto {
            height: 12rem;
            width: 100%;
            position: relative;
            display: block;
            background-image: url(../images/gerard.jpg);
            border-radius: 2rem 2rem 0 0;
            background-size: cover;
            background-position: center;
        }

        .info {
            padding: 1.5rem;

            .person {
                font-size: 1.6rem;
            }

            .locatie {
                color: #95989A;
            }

            .bio {
                background-color: #F6F6F6;
                text-align: center;
                padding: 1rem 0;
                margin: 1rem 0;
                width: 100%;

                p {
                    color: #303030;
                    width: 70%;
                    margin: 0 auto;
                }
            }

            .needs {
                color: #303030;
                border-left: .4rem solid #72ACC9;
                padding: .4rem 1rem;
            }
        }
    }

    .title {
        font-size: 1.8rem;
        color: #505050;
        margin-bottom: .8rem;
    }

    .description {
        color: #858585;
        font-size: 0.9rem;
    }

    .button {
        text-decoration: none;
        bottom: 1rem;
        left: 1.5rem;
        width: 85%;
        position: absolute;
        color: white;
        border-radius: 5rem;
        padding: .8rem 0;
        text-align: center;

        &.top {
            bottom: 5rem;
        }
    }
</style>
