<template>
  <div class="profile">
    <div class="balk">
        <p>Profiel</p>
    </div>
    <div class="foto"></div>
    <div class="info">
        <div class="setting">
            <span class="key">Naam</span>
            <span class="value">Sofie Declerck</span>
        </div>
        <div class="setting">
            <span class="key">Mobiliteit</span>
            <span class="value">Auto</span>
        </div>
        <div class="setting">
            <span class="key">Opleiding</span>
            <span class="value">Leerkracht</span>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'VolunteerProfile'
}
</script>

<style lang="scss" scoped>
    .balk {
        width: 100%;
        height: 4rem;
        background-color: white;
        font-size: 1.2rem;
        line-height: 4rem;

        p {
            margin: 0 0 0 .8rem;
        }
    }

    .foto {
        width: 10rem;
        height: 10rem;
        display: block;
        border-radius: 100%;
        margin: 1rem auto 0 auto;
        background-image: url(../images/sofie.jpg);
        background-size: cover;
        background-position: center;
    }

    .info {
        margin-top: 3rem;
        width: 100%;
        background-color: white;

        .setting {
            display: flex;
            width: 80%;
            margin: 0 auto;
            border-bottom: 1px solid #E9E9E9;
            box-sizing: border-box;
            justify-content: space-between;
            padding: .8rem;

            .key {
                color: #7B7B7B;
            }
        }
    }
</style>
