<template>
  <div class="profiles">
      <div v-if="profiles">
        <div class="balk">
            <p>Profielen</p>
        </div>
        <ul>
            <li @click="toggleprofile">
                <div class="pic gerard"></div>
                <div class="info">
                    <div class="name">Gerard, 86</div>
                    <div class="location">Woonzorgcentrum Sint-Jozef</div>
                </div>
            </li>
            <li>
                <div class="pic gerda"></div>
                <div class="info">
                    <div class="name">Gerda, 94</div>
                    <div class="location">Woonzorgcentrum Sint-Jozef</div>
                </div>
            </li>
        </ul>
      </div>
      <div v-else>
          <div class="card profile">
            <div class="foto"></div>
            <div class="info">
                <div class="person">Gerard, 86</div>
                <div class="locatie">Bejaardetehuis Sint-Michiels</div>
            </div>
            <div class="options">
                <div class="setting">
                    <span class="key">Bewerk informatie</span>
                    <span class="value"></span>
                </div>
                <div class="setting">
                    <span class="key">Bekijk chats</span>
                    <span class="value"></span>
                </div>
                <div class="setting">
                    <router-link to="/caretaker/volunteers" class="key">Zoek vrijwilligers</router-link>
                    <span class="value"></span>
                </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name: "CaretakerPeople",
    data() {
        return {
            profiles: true
        }
    },
    methods: {
        toggleprofile() {
            this.profiles = !this.profiles;
        }
    }
}
</script>

<style lang="scss" scoped>
    a {
        text-decoration: none;
    }

    .balk {
        width: 100%;
        height: 4rem;
        background-color: white;
        font-size: 1.2rem;
        line-height: 4rem;

        p {
            margin: 0 0 0 .8rem;
        }
    }

    .pic {
        width: 5rem;
        height: 5rem;
        border-radius: 5px;
        display: inline-block;

        &.gerard {
            background-image: url('../images/gerard.jpg');
            background-size: cover;
            background-position: center;
        }

        &.gerda {
            background-image: url('../images/gerda.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    .info {
        display: inline-block;
        vertical-align: top;
        margin-left: .5rem;

        .location {
            color: #757474;
        }
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0 0;
        padding: 0;

        li {
            padding: 1rem;
            background-color: #F8F8F8;
        }

        li:nth-child(odd) {
            background-color: #ffffff;
        }
    }

    .card {
        position: relative;
        box-sizing: border-box;
        margin: 10rem auto 0 auto;
        padding: 2rem;
        display: block;
        width: 80%;
        border-radius: 2rem;
        height: 15rem;
        background-color: white;
        box-shadow: 0 1px 2px #888888;
    }
    
    .profile {
        width: 90%;
        padding: 0;
        height: 40rem;
        margin: .75rem auto 0 auto;
        font-family: 'Nunito', 'Open Sans', sans-serif;

        .foto {
            height: 12rem;
            width: 100%;
            position: relative;
            display: block;
            background-image: url(../images/gerard.jpg);
            border-radius: 2rem 2rem 0 0;
            background-size: cover;
            background-position: center;
        }

        .info {
            padding: 1.5rem;

            .person {
                font-size: 1.6rem;
            }

            .locatie {
                color: #95989A;
            }

            .bio {
                background-color: #F6F6F6;
                text-align: center;
                padding: 1rem 0;
                margin: 1rem 0;
                width: 100%;

                p {
                    color: #303030;
                    width: 70%;
                    margin: 0 auto;
                }
            }

            .needs {
                color: #303030;
                border-left: .4rem solid #72ACC9;
                padding: .4rem 1rem;
            }
        }
    }

    .options {
        width: 100%;
        background-color: white;

        .setting {
            display: flex;
            width: 85%;
            margin: 0 auto;
            border-bottom: 1px solid #E9E9E9;
            box-sizing: border-box;
            justify-content: space-between;
            padding: .8rem;

            .key {
                color: #7B7B7B;
            }
        }
    }
</style>
