<template>
  <div class="volunteers">
    <div class="balk">
        <p>Vrijwilligers</p>
    </div>
    <ul>
        <li>
            <div class="pic sofie"></div>
            <div class="info">
                <div class="name">Sofie Declerck</div>
                <div class="location">2 afspraken gehad</div>
            </div>
        </li>
    </ul>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .balk {
        width: 100%;
        height: 4rem;
        background-color: white;
        font-size: 1.2rem;
        line-height: 4rem;

        p {
            margin: 0 0 0 .8rem;
        }
    }

    .pic {
        width: 5rem;
        height: 5rem;
        border-radius: 5px;
        display: inline-block;

        &.sofie {
            background-image: url('../images/sofie.jpg');
            background-size: cover;
            background-position: center;
        }
    }
    
    .info {
        display: inline-block;
        vertical-align: top;
        margin-left: .5rem;

        .location {
            color: #757474;
        }
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0 0;
        padding: 0;

        li {
            padding: 1rem;
            background-color: #F8F8F8;
        }

        li:nth-child(odd) {
            background-color: #ffffff;
        }
    }
</style>
