<template>
  <div class="history">
    <div class="balk">
        <p>Historiek</p>
    </div>
    <div class="day">
        <div class="date">
            26 September
        </div>
        <div class="profile">
            <div class="pic gerard"></div>
            <div class="info">
                <div class="name">Gerard Coppens</div>
                <div class="time">14u - met Sofie Declerck</div>
            </div>
        </div>
    </div>
    <div class="day">
        <div class="date">
            30 September
        </div>
        <div class="profile">
            <div class="pic gerda"></div>
            <div class="info">
                <div class="name">Gerda Peeters</div>
                <div class="time">10u - met Bert Devos</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="profile">
            <div class="pic gerard"></div>
            <div class="info">
                <div class="name">Gerard Coppens</div>
                <div class="time">15u - met Sofie Declerck</div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .balk {
        width: 100%;
        height: 4rem;
        background-color: white;
        font-size: 1.2rem;
        line-height: 4rem;

        p {
            margin: 0 0 0 .8rem;
        }
    }

    .divider {
        height: 1rem;
        width: 1px;
        background-color: #888;
        margin-left: 3.5rem;
    }

    .pic {
        width: 5rem;
        height: 5rem;
        border-radius: 5px;
        display: inline-block;

        &.gerard {
            background-image: url('../images/gerard.jpg');
            background-size: cover;
            background-position: center;
        }

        &.gerda {
            background-image: url('../images/gerda.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    .profile {
        padding: 1rem;
    }

    .day {
        width: 100%;
        margin-top: 1rem;
        background-color: white;

        .date {
            background-color: #FCFCFC;
            border-bottom: 1px solid #EEE;
            padding: .5rem .5rem .5rem 1rem;
        }
    }

    .info {
        display: inline-block;
        vertical-align: top;
        margin-left: .5rem;

        .time {
            color: #858585;
        }
    }
</style>
