<template>
  <div id="login">
    <div class="name">{{ name }}</div>
    <img src="./images/heart.png" alt="Heart">
    <div class="buttons">
      <router-link to="signup/volunteer" class="button">{{ volunteer }}</router-link>
      <router-link to="signup/caretaker" class="button">{{ caretaker }}</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      name: 'Brugge Cares',
      volunteer: 'Ik ben vrijwilliger',
      caretaker: 'Ik ben zorgverlener'
    }
  }
}
</script>

<style lang="scss" scoped>
  #login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('./images/loginbg.png');
    background-size: cover;
  }

  .name {
    font-family: 'Nunito';
    font-weight: bold;
    margin-top: 10vh;
    color: white;
    text-align: center;
    font-size: 2.8rem;
  }

  img {
    padding: 3rem;
    display: block;
    margin: 0 auto;
    width: 5rem;
  }

  .buttons {
    .button {
      text-decoration: none;
      display: block;
      margin: 1rem auto;
      color: white;
      background-color: #7FC258;
      border-radius: 5rem;
      width: 75%;
      padding: 1rem;
      text-align: center;
    }
  }
</style>
