<template>
    <div id="signup">
        <div class="title">
            Uw profiel
        </div>
        <form action="" v-if="volunteer">
            <div class="formgroup">
                <label for="firstname">Voornaam</label>
                <input type="text" v-model="firstname" id="firstname">
            </div>
            <div class="formgroup">
                <label for="lastname">Achternaam</label>
                <input type="text" v-model="lastname" id="lastname">
            </div>
            <div class="formgroup">
                <label for="mobility">Mobiliteit</label>
                <select v-model="mobility">
                    <option value="Te voet">Te voet</option>
                    <option value="Fiets">Fiets</option>
                    <option value="Brommer">Brommer</option>
                    <option value="Openbaar vervoer">Openbaar vervoer</option>
                    <option value="Auto">Auto</option>
                </select>
            </div>
            <a @click="done" class="button">Klaar</a>
        </form>
        <form action="" v-else>
            <div class="formgroup">
                <label for="firstname">Voornaam</label>
                <input type="text" v-model="firstname" id="firstname">
            </div>
            <div class="formgroup">
                <label for="lastname">Achternaam</label>
                <input type="text" v-model="lastname" id="lastname">
            </div>
            <div class="formgroup">
                <label for="instantie">Instantie</label>
                <select v-model="instantie">
                    <option v-for="instantie in instanties" v-bind:key="instantie.Nummer" :value="instantie.Woonzorgcentra">{{ instantie.Woonzorgcentra }}</option>
                </select>
            </div>
            <a @click="done" class="button">Klaar</a>
        </form>
    </div>
</template>

<script>
import AccountService from '@/services/AccountService';
import data from './wzc.json';

export default {
    name: 'SignupPage',
    data() {
        return {
            firstname: '',
            lastname: '',
            mobility: 'Te voet',
            instantie: data[0].Woonzorgcentra,
            volunteer: true,
            instanties: data
        }
    },
    mounted() {
        if(this.$route.params.type !== 'volunteer') {
            this.volunteer = false;
        }
    },
    methods: {
        done() {
            AccountService.firstname = this.firstname;
            AccountService.lastname = this.lastname;
            AccountService.mobility = this.mobility;
            this.$router.push(this.volunteer ? '/volunteer' : '/caretaker');
        }
    }
}
</script>

<style lang="scss" scoped>
#signup {
    width: 100%;
    height: 100%;
    position: fixed;
}

.title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 75%;

    .formgroup {
        padding-top: 1rem;
    }
}


.button {
    text-decoration: none;
    display: block;
    margin: 2rem auto 0;
    color: white;
    background-color: #7FC258;
    border-radius: 5rem;
    padding: .8rem;
    text-align: center;
}

input, select {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: .8rem;
    font-size: 1rem;
}
</style>
