<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">

  body {
    background-color: #EFF3F5;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  label {
    margin-bottom: .5rem;
    display: block;
  }

  input, select {
    border: none;
    border-radius: .8rem;
    padding: .4rem 1.2rem;
    font-size: 1.2rem;
  }
</style>
